.contact_container
{
    height: 90vh;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: row;
    background-color: #efebec;
}
.contact_big_box
{
    border: 1px solid #55343e;
    padding: 40px;
    margin: 100px;
    height: 80%;
    width: 100%;
}
.contact_left
{
    width: 50%;
    height: 90%;
    background-color: #dfd8da;
}
.contact_head
{
    text-align: center;
    color: #422930;
    font-size: 30px;
    margin-bottom: 20px;
}